@model IEnumerable<LandmarkHunt.Data.SessionChallenge>

@{
    ViewData["Title"] = "Your Games";
}

<h1 class=" m-lg-2 ">Your Games</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Challenge)
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Challenge.Name)
            </td>
            <td>
                    @if (item.Progress<5) {
                        <form asp-action="Play">
                            <input type="hidden" name="sessionId" value="@item.Id" />
                            <div class="form-group">
                                <input type="submit" value="Continiue" class="btn btn-primary" style="background-color:#cc7a00; border-color:#cc7a00" />
                            </div>
                        </form>
                    }else{
                        <a>Already Completed | Your Score was @item.TotalScore </a>
                        
                    }
            </td>
        </tr>
}
    </tbody>
</table>
