@model LandmarkHunt.Models.ChallengeCreationModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="m-lg-2">Create</h1>

<h4 class="ms-2">Challenge</h4>
<hr />
<div class="row; ms-2">
    <div class="col-md-8 col-lg-6" >
        <form asp-action="Create" id="challenge-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group; mb-2">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group; mb-2">
                <select name="locs" class="w-100" id="locations" multiple multiselect-hide-x="true">

                @foreach (var el in Model.GuessedLocations)
                {
                    <option value="@el.Id">@el.Name</option>
                }

                </select>
                <span id="location-error" class="text-danger" style="display:none">Please select exactly 5 locations.</span>

            </div>
            <div class="form-group; mb-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <script>
            document.querySelector('#challenge-form').addEventListener('submit', function (event) {
                var selectedOptions = document.querySelectorAll('#locations option:checked');
                if (selectedOptions.length < 5) {
                    event.preventDefault();
                    document.querySelector('#location-error').style.display = 'inline';
                }else{
                    
                    document.querySelector('#location-error').style.display = 'none';
                }
                        
            });
        </script>
    </div>
</div>

<div class="ms-2">
    <a asp-action="YourChallenges">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/MultiSelect/multiselect-dropdown.js?1.0"></script>
}
