@model LandmarkHunt.Models.ManageRolesViewModel

<h1>Manage User Roles</h1>

@if (Model?.Users?.Count > 0)
{
    <form asp-action="ManageRoles" method="post">
        <table>
            <thead>
                <tr>
                    <th>User</th>
                    <th>Current Role</th>
                    <th>New Role</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    var userRole = await Model.GetUserRole(user);
                    <tr>
                        <td>@user.Email</td>
                        <td>@userRole</td>
                        <td>
                            <select asp-for="@userRole" asp-items="Model.RoleList"></select>
                            <input type="hidden" asp-for="@user.Id" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <button type="submit">Save</button>
    </form>
}
else
{
    <p>No users found.</p>
}