@{
    ViewData["Title"] = "Home Page";
}

<div class="container py-5">
    <h1 class="text-center">Welcome to Landmark Hunt!</h1>
    <p class="lead text-center">The game is simple - look at a photo of some famous landmark and take a guess on where it is and when the photo was taken?</p>
    <div class="d-grid gap-2 col-md-6 mx-auto mt-5">
        <a class="btn btn-primary btn-lg" style="background-color: #cc7a00; border-color: #cc7a00" asp-controller="Challenges" asp-action="Index">Choose a challenge</a>
    </div>
</div>